@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

$orange : #ffa500;
$blue : #0984e3;
$black : #333;
$white : #fff;
$gold : gold;
$light-color : #666;
$light-bg : #eee;
$border : 0.2rem solid $black;
$box-shadow : 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

/*
@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 2rem;
}
*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: $light-bg;
}

section {
  padding: 3rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  background: $orange;
  color: $white;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    letter-spacing: 0.2rem;
    background: $black;
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: $orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9%;

  .logo {
    color: $white;
    font-size: 2.5rem;
    font-weight: bolder;

    i {
      color: $blue;
    }
  }

  .search-form {
    border-radius: 5rem;
    height: 5rem;
    width: 50rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    background: $white;

    input {
      width: 100%;
      padding-right: 1rem;
      font-size: 1.7rem;
      color: $light-color;
      text-transform: none;
    }

    label {
      font-size: 2rem;
      color: $light-color;
      cursor: pointer;

      &:hover {
        color: $orange;
      }
    }
  }

  .icons a,
  .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    color: $white;
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }
}

#search-btn {
  display: none;
}

.side-bar {
  position: fixed;
  top: 0;
  left: -110%;
  background: $white;
  width: 30rem;
  height: 100vh;
  z-index: 10000;

  &.active {
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  }

  #close-side-bar {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 4rem;
    color: $light-color;

    &:hover {
      transform: rotate(90deg);
      color: $orange;
    }
  }

  .user {
    background: $light-bg;
    padding: 2rem;
    text-align: center;

    img {
      height: 17rem;
      width: 17rem;
      border-radius: 50%;
      border: 1px solid $white;
      box-shadow: $box-shadow;
      margin-bottom: 0.5rem;
    }

    h3 {
      padding: 0.3rem 0;
      color: $light-color;
      font-size: 1.7rem;
    }

    .logout {
      color: $orange;
      font-size: 1.5rem;

      &:hover {
        color: $black;
      }
    }
  }

  .navbar {
    padding: 2rem;

    .links {
      display: block;
      padding: 1rem 0;
      font-size: 1.7rem;
      color: $light-color;

      &:hover {
        color: $orange;
        letter-spacing: 0.3rem;
      }

      i {
        padding-right: 0.5rem;
      }
    }
  }
}

.home {
  background: $white;

  #arrow::after {
    color: $orange;
    font-size: 3rem;
  }

  .slide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    min-height: 55rem;

    .image {
      flex: 1 1 42rem;
      text-align: center;

      img {
        height: 30rem;
      }
    }

    .content {
      flex: 1 1 42rem;

      span {
        font-size: 2rem;
        color: $orange;
      }

      h3 {
        font-size: 3rem;
        color: $black;
      }
    }
  }
}

.footer-1 {
  display: flex;
  align-items: center;
  gap: 2rem;
  background: $black;
  justify-content: space-between;

  .logo {
    color: $white;
    font-size: 2.2rem;
    font-weight: bolder;

    .fa-store {
      color: $blue;
    }
  }

  .link {
    .page {
      margin: 0 1rem;
      font-size: 1.7rem;
      color: $white;

      &:hover {
        color: $blue;
        letter-spacing: 0.2rem;
      }
    }
  }

  .share {
    #icon {
      font-size: 2.2rem;
      color: $white;
      margin-left: 1.5rem;

      &:hover {
        color: $blue;
      }
    }
  }
}

.footer-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: $white;

  .partners {
    color: $black;
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: 1.5rem;
  }

  .copyright {
    font-size: 2rem;
    color: $light-color;

    .offer {
      color: orange;
    }
  }
}

//media queries

@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }

  .header {
    padding: 2rem;
  }
}

@media screen and (max-width: 991px) {
  .footer-1 {
    flex-flow: column;

    .link {
      padding: 0 1rem;
    }
  }

  .footer-2 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #search-btn {
    display: inline-block;
  }

  .header {
    .search-form {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      width: 100%;
      border-radius: 0;
      box-shadow: $box-shadow;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }

  .footer-1 {
    .link {
      .page {
        display: block;
        font-size: 1.7rem;
        text-align: center;
        padding: 1rem 0;
      }
    }
  }

  .home {
    .slide {
      text-align: center;
    }
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header {
    justify-content: space-between;

    .logo {
      font-size: 2rem;
    }
  }

  .icons a,
  .icons div {
    font-size: 2rem;
  }

  #arrow {
    display: none;
  }

  .home {
    .slide {
      .image {
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
